/*CSS Document*/

/* child width/parent width = % width x 100 */

#container{
	max-width: 660px;
	background-color: #ccc;
	border-radius: 10px;
}

#content,#sidebar{
	float:left;
	margin: 1.515151%;
	background-color: #23A38F;
	border-radius: 10px;
}

#content{
	width: 63.636363%;
}

#sidebar{
	width: 30.303030%;
}
